/* For XXL Screen (768p(1366 x 768) above - 1080p , 1920 x 1080) */
@media (min-width: 1399.99px) {
    .section-heading.text-center.text-lg-start::after {
        margin-left: 0 !important;
    }
}

/* For XL Screen (Laptop - HD Ready Display) */
@media only screen and (min-width: 1199.9px) and (max-width: 1399.98px) {
    .hero-section {
        padding: 80px 0;
    }

    .hero-section-title {
        font-size: 35px;
    }

    .hero-section-para {
        font-size: 14px;
    }

    .section-heading.text-center.text-lg-start::after {
        margin-left: 0 !important;
    }
}

/* For LG (Large) Screen  */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hero-section {
        padding: 80px 0;
    }

    .hero-section-title {
        font-size: 30px;
    }

    .hero-section-para {
        font-size: 14px;
    }

    .hero-section-img {
        height: 90vh;
    }

    .hero-section-dec-img {
        width: 15vh;
        height: 15vh;
        top: 17vh;
        right: 26.5vh;
    }

    .section-heading.text-center.text-lg-start::after {
        margin-left: 0 !important;
    }
}

/* For MD (Medium) Screen (ipad) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-section {
        padding: 80px 0;
    }

    .hero-swiper-area {
        width: 100%;
    }

    .hero-section-img {
        width: 58vh;
        height: auto;
    }

    .hero-section-dec-img {
        width: 14vh;
        height: 14vh;
        top: 8vh;
        right: 17vh;
    }

    .hero-section-title {
        font-size: 30px;
        text-align: center;
    }

    .hero-section-para {
        font-size: 14px;
        text-align: center;
    }

    .hero-slider-area {
        align-items: flex-end;
    }


    .hero-section-btn-area {
        justify-content: center;
    }

    .hero-section-title-area {
        padding: 0px 20px;
    }
}

/* For SM (Small) Screen (Tab) */
@media (min-width: 576px) and (max-width: 767px) {
    .hero-section {
        padding: 80px 0;
    }

    .hero-swiper-area {
        width: 100%;
    }

    .hero-section-title {
        font-size: 30px;
        text-align: center;
    }

    .hero-section-img {
        width: 56vh;
        height: auto;
    }

    .hero-section-dec-img {
        width: 14vh;
        height: 14vh;
        top: 8vh;
        right: 16vh;
    }

    .hero-section-para {
        font-size: 14px;
        text-align: center;
    }

    .hero-slider-area {
        align-items: flex-end;
    }


    .hero-section-btn-area {
        justify-content: center;
    }

    .hero-section-title-area {
        padding: 0px 20px;
    }
}

/* For Mobile Screen */
@media (max-width: 575px) {
    .hero-section {
        padding: 60px 0;
        height: 100%;
    }

    .hero-swiper-area {
        width: 100%;
    }

    .hero-section-title {
        font-size: 22px;
        text-align: center;
    }

    .hero-section-img {
        position: relative;
        width: 100%;
        height: auto;
        right: -20px;
        top: -20px;
    }

    .hero-section-dec-img {
        width: 90px;
        height: 90px;
        top: 23vmin;
        right: 22vmin;
    }

    .hero-section-para {
        font-size: 13px;
        text-align: center;
    }

    .hero-slider-area {
        align-items: flex-end;
    }

    .hero-section-btn-area {
        margin-top: 25px;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    .hero-section-title-area {
        padding: 0px 10px;
    }

    .hero-section-btn-area .nav-link-button {
        font-size: 14px;
    }

    .custom-card-header-head {
        font-size: 23px;
    }

    .custom-card-form.get-quote-form {
        border-bottom: 3px #37348b solid;
        background-color: #f3f3ff !important;
        padding: 20px 15px;
    }
}