:root {
    --color-primary: #37348b;
    --color-primary-dark: #222057;
    --color-secondary: #d12788;
    --color-secondary-dark: #b10867;
    --text-color: #000;
}


.booking-section {
    border-radius: 40px;
    background-color: #ebeafc;
    margin: 20px 0;
    background-image: radial-gradient(#37348b4b 1px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    background-attachment: fixed;
}

.detail-card-row {
    margin: 5px 0 !important;
    display: flex;
    gap: 5px;
}

.detail-card-row .detail-card-panel {
    width: 100%;
}

.detail-card-label-area.main {
    background-color: #37348b !important;
    padding: 12px 20px !important;
}

.detail-card-label-area.main h5 {
    color: #FFF !important;
    font-size: 18px !important;
    font-weight: 500 !important;
}

/*  */

.booking-card {
    position: relative;
    padding: 10px;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: 0px 10px 20px #22205709;
}

.booking-card-sub {
    border-radius: 12px;
    padding: 20px 20px;
    background-color: #f4f4fd;
    /* background-color: #f3f3ff; */
    border: 2px solid #ebeafc;
    position: relative;
    margin-bottom: 10px;
}

.booking-card-sub:last-child {
    margin-bottom: 0;
}

.booking-card-head {
    font-size: 16px;
    font-weight: 700;
    display: block;
    color: #37348b;
    max-width: max-content;
}

.booking-card-head::after {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    margin-right: 5px;
    margin-top: 2px;
    background-color: #d12788;
}

.divider-margin {
    margin: 25px 0;
}

.custom-form-flex-input-area {
    display: flex;
    gap: 0;
    width: 100%;
    position: relative;
    border-radius: 8px !important;
    border: 1px solid #ced4da;
    transition: ease 0.3s;
}

.custom-form-flex-input-area .custom-form-dropdown.p-dropdown {
    width: 80px !important;
    border: none;
}

.custom-form-flex-input-area .p-inputwrapper-focus {
    box-shadow: none !important;
}

.custom-form-flex-input-area .p-inputtext {
    border: none !important;
}

.custom-form-group .custom-form-flex-input-area .p-inputtext:focus {
    box-shadow: none !important;
}

.custom-form-flex-input-area.focused {
    border-color: #37348b !important;
    box-shadow: 0px 0px 0px 4px #37348b2c !important;
}

.form-checkbox-area {
    display: flex;
    align-items: center;
    gap: 15px;
}

.form-checkbox-area label {
    color: #000;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.p-checkbox.p-highlight .p-checkbox-box {
    border-color: #37348b;
    background: #37348b;
}

.form-checkbox-area .p-checkbox .p-checkbox-input:focus {
    box-shadow: 0px 0px 0px 4px #37348b2c !important;
}

.custom-form-flex-group {
    display: flex;
    gap: 15px;
}

.aply-btn {
    background-color: #37348b;
    border-color: #37348b !important;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}

.aply-btn:hover {
    background-color: #222057;
}

.aply-btn:focus {
    box-shadow: 0px 0px 0px 4px #37348b2c !important;
    border-color: #222057 !important;
}

.booking-card-head-area {
    background-color: #e3e3f7;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 25px;
}

.account-alert {
    color: red;
    text-align: center;
    font-size: 13px;
    padding-bottom: 0px;
    font-weight: 400;
    line-height: 1.5em;
}

.custom-form-link-area .text-sm,
.custom-form-link-area .text-sm button,
.back-page-btn.text-sm {
    font-size: 14px !important;
}

.divider.p-divider.p-divider-horizontal:before {
    border-top-color: #FFF !important;
}

.coupon-valid {
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin-bottom: 0;
    margin-top: 10px;
}

.coupon-valid i {
    vertical-align: middle;
}

.coupon-valid.success {
    color: #04ac58;
}

.coupon-valid.error {
    color: #e22222;
}

.total-price-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    padding: 15px;
    background-color: #FFF;
    position: relative;
    gap: 20px;
    box-shadow: 0px 0px 15px #37348b11;
}

.total-price-area .total-price-text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    color: #000;
    display: block;
}

.total-price-area .total-price {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    color: #d12788;
    display: block;
}

.page-warning-text {
    font-size: 13px;
    font-weight: 500;
    color: #000;
    margin-bottom: 0;
    display: block;
}

.card-position-sticky {
    position: sticky !important;
    top: 100px !important;
}

.account-agree-area {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}


.account-agree-area label {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    cursor: pointer;
}

.account-agree-area label a {
    font-size: 14px;
    font-weight: 500;
    color: #d12788;
}

.total-detail-area {
    position: relative;
    border: 2px solid #FFF;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 20px #22205713;
    background-color: #ebeafc;
    padding: 15px;
}

.total-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.total-detail .total-detail-head,
.total-detail .total-detail-price {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0;
    color: #37348b;
    margin-bottom: 0;
}

.total-detail .total-detail-head.text-bold,
.total-detail .total-detail-price.text-bold {
    font-weight: 800 !important;
}

.divider-primary.p-divider.p-divider-horizontal::before {
    border-top: 1px solid #ffffff !important;
}

.total-detail.with-bg {
    background-color: #FFF;
    border-radius: 8px;
    padding: 15px;
}