/* For XXL Screen (768p(1366 x 768) above - 1080p , 1920 x 1080) */
@media (min-width: 1399.99px) {}

/* For XL Screen (Laptop - HD Ready Display) */
@media only screen and (min-width: 1199.9px) and (max-width: 1399.98px) {}

/* For LG (Large) Screen  */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .contact-content-area {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .contact-content a,
    .contact-content span {
        font-size: 14px;
    }
}

/* For MD (Medium) Screen (ipad) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .contact-content-area {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .contact-content a,
    .contact-content span {
        font-size: 14px;
    }
}

/* For SM (Small) Screen (Tab) */
@media (min-width: 576px) and (max-width: 767px) {}

/* For Mobile Screen */
@media (max-width: 575px) {

    .contact-content a,
    .contact-content span {
        font-size: 14px;
    }

    .contact-detail-section {
        padding: 0 0 10px 0;
    }

    .contact-btn {
        width: 100%;
    }

    .content-card-desc{
        font-size: 15px;
    }
}